{% autoescape off %}
Hello,

We received a request to reset the password for your Bharat Movers account associated with {{ email }}. If you did not make this request, you can safely ignore this email.

To reset your password, click the link below:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours.

If you're having trouble clicking the link, you can copy and paste it into your web browser.

Best regards,
Bharat Movers Team
{% endautoescape %}